extends layout
extends ../node_modules/jade-bootstrap/_bootstrap
append styles
	link(href="stylesheets/style.css")
block body

	+nav-pills-justified([{text:"Home",href:"http://localhost:3000"},{text:"Database",href:"http://localhost:3000/database"},{text:"Message",href:"#"}],1)
	
	.jumbotron
		<h1>#{title} </h1>
		p Welcome to #{title}
	<center>	
	p Database Search For Tags
	.container
		form(action="/database", method="get")
			input(type="text", name="tagString")
			input(type="submit")
	
	
	p Database Search For Strings
	.container
		form(action="/database", method="get")
			input(type="text", name="nameString")
			input(type="submit")
			
			
	</center>
	.container
		+accordion("Results")
		
		- for (var x = 0; x < length; x++)
			+accordion-item-default("Result "+ (x+1),"sample",true)
				p #{query[x]}	
		
		
		
		
		
	

	



	
