extends layout
extends ../node_modules/jade-bootstrap/_bootstrap
append styles
	link(href="stylesheets/style.css")
block body

	+nav-pills-justified([{text:"Home",href:"http://localhost:3000"},{text:"Database",href:"http://localhost:3000/database"},{text:"Search",href:"http://localhost:3000/search"},{text:"View",href:"http://localhost:3000/view"},{text:"Browse",href:"http://localhost:3000/browse"}],1)
	
	.jumbotron
		<h1>#{title} </h1>
		p Welcome to #{title}
	<center>	
	p Database Search 
	.container
		form(action="/search", method="get")
			input(type="text", name="tagString")
			input(type="submit")
	
	
	
			
		
	</center>
	
			
		
		
		
		
	

	



	
